<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dungeon</title>
</head>
<body>
<h1>DUNGEON</h1>
<h1>Create your character</h1>
<form method="post" action="/pers">
    <input type="text" name="name" placeholder="name" required>
    <input type="text" name="hp" placeholder="hp" required>
    <input type="text" name="attack mod" placeholder="attack mod" required>
    <input type="text" name="attack per round" placeholder="attack per round" required>
    <input type="text" name="damage" placeholder="damage" required>
    <input type="text" name="damage mod" placeholder="damage mod" required>
    <input type="text" name="armor" placeholder="armor" required>
    <input type="submit">
</form>
</body>
</html>